<!doctype html>
<html>
	<head>
		<title>Questionable Cards</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

		<link rel="stylesheet" href="/assets/css/app.css" />
	</head>
	<body>
		<header>
			<div class="grid-container">
				<h1 class="grid-50"><a href="/">Questionable Cards</a></h1>

				<nav class="grid-50">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Printing</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="main">
			<nav id="panel-actions">
				<a href="javascript: void alert('Not yet.');">Add Card</a>
				<a href="javascript: void alert('*shuffles*');">Randomize</a>
			</nav>
			
			<div id="cards">
				<div class="card answer">
					Two midgets shitting into a bucket.
				</div>
				<div class="card answer">
					A bigger blacker dick.
				</div>
				<div class="card answer">
					Bitches.
				</div>
				<div class="card question">
					What is the last thing you want to hear on New Year's Eve?
				</div>
				<div class="card answer">
					Two midgets shitting into a bucket.
				</div>
				<div class="card question">
					The best thing about _____ is that they make me smile.
				</div>
				<div class="card answer">
					Two midgets shitting into a bucket.
				</div>
				<div class="card answer">
					Two midgets shitting into a bucket.
				</div>
				<div class="card answer">
					A bigger blacker dick.
				</div>
				<div class="card answer">
					Bitches.
				</div>
				<div class="card question">
					What is the last thing you want to hear on New Year's Eve?
				</div>
				<div class="card answer">
					Two midgets shitting into a bucket.
				</div>
				<div class="card question">
					The best thing about _____ is that they make me smile.
				</div>
				<div class="card answer">
					Two midgets shitting into a bucket.
				</div>
				<div class="card answer">
					Two midgets shitting into a bucket.
				</div>
				<div class="card answer">
					A bigger blacker dick.
				</div>
				<div class="card answer">
					Bitches.
				</div>
				<div class="card question">
					What is the last thing you want to hear on New Year's Eve?
				</div>
				<div class="card answer">
					Two midgets shitting into a bucket.
				</div>
				<div class="card question">
					The best thing about _____ is that they make me smile.
				</div>
				<div class="card answer">
					Two midgets shitting into a bucket.
				</div>
			</div>
		</div>
		<footer>
			&copy; Copyright {{ current_date|date('Y') }}. Forged by <a href="http://twitter.com/obfuscode">Jace</a> &amp; <a href="http://twitter.com/blainsmith">Blain</a>.
		</footer>
	</body>
</html>